﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="WebSiteNew.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="css/style.min.css">
    <title>Lave.Club - Um novo jeito de lavar suas roupas</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="menu-mobile" id="menu-mobile">
            <div class="menu-mobile_logo">
                <img src="img/logo.svg">
            </div>
            <div class="menu-mobile_close">
                <button id="button-menu_close">&times;</button>
            </div>
            <div class="menu-mobile_nav">
                <ul class="mobile-nav">
                    <a href="sobre.aspx">
                        <li>LaveClub</li>
                    </a>
                    <a href="Default.aspx#diadia">
                        <li>Pacotes</li>
                    </a>
                    <%--<a href="area.html">
                        <li>Assinatura</li>
                    </a>--%>
                    <a href="avulso.aspx">
                        <li>Avulso</li>
                    </a>
                    <a href="Default.aspx#contato">
                        <li>Contato</li>
                    </a>
                </ul>
            </div>

            <div class="menu-mobile_login">
                <div id="logged2" runat="server" visible="false">
                    <asp:Label ID="lblName2" runat="server" Text=""></asp:Label>
                    <a href="Carrinho.aspx"><img src="img/cesta.svg"><div runat="server" id="badge" class="badge badge-secondary">
                        <asp:Label ID="lblBadge" runat="server" Text=""></asp:Label></div></a>
                </div>
                <div id="login2" runat="server">
                    <h6>Já é nosso cliente?</h6>
                <div class="mt-2 mobile-login">
                    <input type="text" class="form-control" placeholder="Login">
                    <input type="password" class="mt-3 form-control" placeholder="Senha">
                    <button class="btn btn-login px-5 py-2 mt-3">Acessar</button>
                </div>
                </div>
                
            </div>
        </div>
    <nav class="navbar navbar-expand-lg">
        <div class="menu-toggler">
            <a id="btn-toggler"><i class="material-icons">menu</i></a>
        </div>
        <div class="container">
            <ul class="navbar-nav ml-auto mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="Default.aspx#main">LaveClub <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Default.aspx#diadia">Pacotes</a>
                </li>
                <%--<li class="nav-item">
                <a class="nav-link" href="area.html">Assinatura</a>
                </li>--%>
                <li class="nav-item">
                    <a class="nav-link" href="avulso.aspx">Avulso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Default.aspx#contato">Contato</a>
                </li>
            </ul>
            <div class="cesta-menu" runat="server" id="logged" visible="false">
                <asp:Label ID="lblName" runat="server" Text=""></asp:Label>
            <a href="Carrinho.aspx"><img src="img/cesta.svg"><div runat="server" id="badge2" class="badge badge-danger"><asp:Label ID="lblBadge2" runat="server" Text=""></asp:Label></div></a>
        </div>
            <div class="form-menu" runat="server" id="login">
                <div class="form-inline my-2 my-lg-0">
                    <asp:TextBox ID="txtMail" class="form-control mr-sm-2" runat="server" placeholder="Login" aria-label="Login"></asp:TextBox>
                    <asp:TextBox ID="txtPass" class="form-control mr-sm-2" type="password" runat="server" placeholder="Senha" aria-label="Senha"></asp:TextBox>
                    <asp:Button ID="btnLogin" class="btn btn-login py-2 my-2 my-sm-0" runat="server" Text="Acessar" OnClick="btnLogin_Click" />
                </div>
            </div>
        </div>
    </nav>

    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>


    <section id="contato">
        <div class="sec-banner">
            <div class="container">
                <h2>Fale Conosco</h2>
                <div action="/contato" method="POST">
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="row justify-content-center">
                                <div class="input-group mb-2 col-md-12">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="material-icons">people_alt
                                            </i>
                                        </div>
                                    </div>
                                    <asp:TextBox ID="txtName" runat="server" placeholder="* Seu Nome" class="form-control" name="ContatoNome"></asp:TextBox>
                                    <%--<input type="text"  id="contatoNome" id="inlineFormInputGroup" >--%>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="input-group mb-2 col-md-12">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="material-icons">phone
                                            </i>
                                        </div>
                                    </div>
                                    <asp:TextBox ID="txtTelefone" runat="server" placeholder="* Seu Telefone" class="form-control" name="ContatoFone"></asp:TextBox>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="input-group mb-2 col-md-12">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="material-icons">email
                                            </i>
                                        </div>
                                    </div>
                                    <asp:TextBox ID="txtMail2" runat="server" placeholder="* Seu Email" class="form-control" name="ContatoEmail"></asp:TextBox>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" placeholder="* Sua Mensagem"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ml-3">
                                <asp:Button ID="btnSend" class="btn btn-login py-2 px-5 float-left mt-2" runat="server" Text="Enviar Mensagem" OnClick="btnSend_Click" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/main.min.js"></script>

    <asp:ContentPlaceHolder ID="script" runat="server">
    </asp:ContentPlaceHolder>
    </form>
</body>
</html>
