@font-face{
    font-family: GothamBook;
    src: url(../fonts/gotham-book.otf);
}

@font-face{
    font-family: GothamBlack;
    src: url(../fonts/gotham-black.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: GothamBook, sans-serif;
    overflow-x: hidden;
}

.bg-blue{
    background: linear-gradient(to right, #3FD6FF, #253375);
}

.text_cyan-blue{
    color: #03FFFF;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #3FD6FF;
}
::-webkit-scrollbar-thumb:hover {
    background: #202E91;
}

::selection{
    background-color: #3FD6FF;
    color: #FFF;
}

.menu-toggler{
    display: none;
    margin-top: -20px;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
}

.menu-toggler button{
    background: transparent;
    border: none;
    color: #FFF;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}

.menu-toggler button i{
    font-size: 50px;
}

.sliderrr{
    max-width: 600px;
    margin: 0 auto;
}

.sliderrr img{
    width: 100%;
}

.slick-dots{
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.slick-dots li{
    display: inline-block;
    margin: 0 8px;
}

.slick-dots li button {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: none;
    background-color: #12C7FF;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}

.slick-active > button{
    background: #161616 !important;
}


.navbar{
    height: 130px;
    background: linear-gradient(to right, #3FD6FF, #253375);
}

.navbar li a{
    padding: 0;
    line-height: 76px !important;
}

.nav-link{
    color: #FFF;
    margin-right: 30px;
    font-size: 19px;
    transition: all 0.4s;
    line-height: 30px;
}

.nav-link:hover{
    color: #00FDE4;
}

.navbar .form-control{
    width: 140px;
    outline: 0;
    box-shadow: none;
    border: none;
    background: #fff;
}

.cesta-menu span{
    color: #FFF;
    margin-right: 20px;
}

.cesta-menu img{
    display: inline-block;
    margin-top: -20px;
    height: 40px;
    width: auto;
    cursor: pointer;
}

.nav-content{
    line-height: 30px !important;
}

.subnav{
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #3FD6FF, #253375);
}

footer{
    background: linear-gradient(to right, #3FD6FF, #253375);
    height: 100px;
    width: 100%;
    position: relative;
    margin-top: 330px;
}

footer img{
    height: 150px;
    width: auto;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

footer h6{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-control{
    min-height: 50px;
    outline: 0 !important;
    box-shadow: none !important;
    border: none;
}

textarea{
    min-height: 180px !important;
}

.packs{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.pack-item{
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 0 50px;
    box-shadow: 0px 3px 4px #BFBFBF;
    cursor: pointer;
    position: relative;
    border: none;
}

.pack-item .detalhes p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: 40px;
    width: 100px;
    opacity: 0;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#pack-exec:hover{
    opacity: 1;
    background-color: #2B378C;
    transition: 0.3s;
}

#pack-diadia:hover{
    background-color: #82C341;
}

#pack-avulso:hover{
    background-color: #F04845;
}

.pack-item:hover > img{
    display: none;
}

.pack-item:hover > .detalhes p{
    opacity: 1;
    transition-delay: 0.1s;
}

.packs p{
    margin-top: 12px;
    margin-bottom: 0;
}

.packs p span{
    font-weight: bold;
    display: block;
    margin-top: -5px;
    text-transform: uppercase;
}

.packs .pack-item:nth-child(1){
    color: #2B378C;
}
.packs .pack-item:nth-child(2){
    color: #82C341;
}
.packs .pack-item:nth-child(3){
    padding-top: 20px;
    color: #FF433F;
}

.pack-item img{
    height: 70px;
    width: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .pack-item img{
    height: 65px;
    width: auto;
    display: block;
    margin: 6px auto;
} */


.logo{
    height: 310px;
    width: 310px;
    margin: 120px auto 30px;
}

.logo img{
    height: 300px;
    width: auto;
}

.main-txt{
    text-align: center;
    color: #12C7FF;
}

.steps{
    width: 700px;
}

.sec-banner{
    margin-top: 100px;
    height: auto;
    min-height: 470px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    color: #FFF;
    box-shadow: 0 3px 10px #BBB;
}

.sec-banner .banner-ico{
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.sec-banner h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 10px;
}
#diadia .sec-banner{
    background-color: #76DB00;
}

#executivo .sec-banner{
    background-color: #202E91;
}

#avulso .sec-banner{
    color: #FF433F;
    box-shadow: none;
}

#contato .sec-banner{
    background: linear-gradient(to right, #3FD6FF, #253375);
    margin-top: 40px;
}

#cobertura{
    margin-top: 100px;
}

.c-relative{
    position: relative;
}

.badge-price{
    background: url('../img/badge.svg');
    background-size: cover;
    display: block;
    position: absolute;
    top: -55px;
    right: 0%;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.plano-opt{
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 4px #BBB;
    border: none;
}

.plano-opt h2{
    font-size: 2.3rem;
    font-family: GothamBlack, sans-serif;
}

#diadia .plano-opt{
    background: #76DB00;
    color: #D2F737;
}

#executivo .plano-opt{
    background: #202E91;
    color: #B1B1B1;
}

.btn-login{
    background: #3FD6FF;
    color: #FFF;
    transition: all 0.3s;
}

.btn-login:hover{
    background: #202E91;
    color: #FFF;
}

.btn-secondary{
    background: #FF433F;
    border: none;
    font-size: 22px;
}

.logo-mini img{
    height: 250px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* Mapa */
.map-container {
    width: 100%;
    height: 450px;
    margin-top: 43px;
    background-color: #cccccc;
  }

.menu-mobile{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: auto;
    width: 280px;
    background: #202E91;
    z-index: 9999;
    color: #FFF;
    padding-bottom: 30px;
    transform: translateX(-300px);
    transition: 0.7s ease;
    overflow: auto;
}

.menu-mobile_logo{
    background: #FFF;
}

.menu-mobile_logo img{
    display: block;
    width: 100px;
    height: auto;
    margin: 0 10px;
}

.menu-mobile_close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-mobile_close button{
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    font-size: 50px;
    color: #3FD6FF;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}

.menu-mobile_nav{
    display: block;
}

.menu-mobile_nav .mobile-nav{
    display: block;
    padding: 0 10px;
    list-style: none;
}

.menu-mobile_nav .mobile-nav li{
    background: #3FD6FF33;
    margin: 10px 0px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
}

.menu-mobile_nav .mobile-nav a{
    color: #FFF;
    text-decoration: none;
}

.menu-mobile_nav .mobile-nav a:hover > li{
    background: #3FD6FF;
    transition: 0.3s all;
}

.menu-mobile_login{
    margin-top: 30px;
    padding: 0 10px;
}

.menu-mobile_login form input{
    box-shadow: none;
    outline: 0;
}

.menu-mobile_login h6{
    text-transform: uppercase;
}

.mobile-login .mobile-login{
    margin-top: 50px;
}

/* Página Avulsos */

#main-avulsos h1{
    font-size: 3.5rem;
    margin: 50px 0 25px 0;
}

.main-avulsos_header{
    margin: 0 auto;
    text-align: center;
    color: #FF433F;
}

.main-avulsos_header img{
    height: 150px;
    width: auto;
    margin-bottom: 25px;
}

.divisor{
    width: 100%;
    background-color: #727171;
    height: 50px;
    color: #FFF;
    text-align: center;
    margin: 50px 0;
    display: table;
}

.divisor h6{
    display: table-cell;
    font-size: 1.3rem;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#itens-especiais .divisor{
    background-color: #72721C;
}

.produto{
    background: #FEFEFE;
    height: 450px;
    box-shadow: 0px 0px 8px #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto .p-image img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 120px;
}

.produto .p-info{
    width: 100% !important;
    text-align: center;
    /* position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

.produto .p-nome{
    color: #707070;
    font-size: 1.3em;
    line-height: 1.7rem;
}

.produto .p-preco{
    line-height: 10px;
    color: #0258D3;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.produto .p-consulta{
    line-height: 20px;
    color: #707070;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.produto .p-obs{
    line-height: 0px;
    color: #FF433F;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

.btn-quantidade{
    display: flex;
}

.btn-quantidade button{
    border: none;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    color: #aaa;
}

.btn-quantidade input{
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
    outline: 0;
    box-shadow: none;
}

.produto button, .produto a{
    width: 100%;
    margin: auto;
    transition: all 0.3s;
}

    .produto button:hover, .produto a:hover{
        background: #FF433F;
        color: #FFF;
    }

    .produto button.btn, .produto a.btn {
        background: #eee;
    }

.diminui-qtd, .aumenta-qtde{
    outline: 0 !important;
    box-shadow: none !important;
}

/* Página Localização */
.locArea_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1100px;
}

.round-logo{
    background: #FFF;
    box-shadow: 0 2px 4px #ccc;
    height: 200px;
    width: 200px;
    margin: 50px auto 40px auto;
    border-radius: 50%;
    position: relative;
}

.round-logo img{
    height: 140px;
    width: auto;
    display: block;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.locArea h1{
    font-weight: bold;
    font-size: 2.2rem;
}

.locArea h4{
    font-weight: bold;
    color: #FFF800;
    line-height: 2rem;
    text-align: center;
}

.locArea .form-control{
    box-shadow: 0 3px 8px 0px rgb(35, 98, 146) !important;
    text-align: center;
    font-size: 1.4rem;
}

.locArea a{
    text-decoration: none;
}

.locArea a:hover{
    color:rgb(0, 194, 253);
}

.sad_face img{
    height: 100px;
    width: auto;
    display: block;
    margin: 20px auto;
}

/* Página Sobre */

#main-about .round-logo{
    margin-top: 80px;
    margin-bottom: 50px;
}

/* Página Carrinho */
.minha-cesta {
    background: transparent;
    color: #5c5c5c;
    /* border: 1px solid #39B0DF !important; */
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
}

.minha-cesta th{
    padding: 20px 30px 20px 0;
    font-size: 14px;
    text-align: right;
}

.minha-cesta th.first {
    text-align: left;
    padding-left: 30px;
}

.minha-cesta th, .minha-cesta td{
    padding: 10px 30px;
    line-height: 40px;
    border: 0;
}

.table-desc{
    border-bottom: 1px solid #ddd;
    padding: 0px 30px;
    text-transform: uppercase;
    color: #253476;
}

.table-desc th{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-title a{
    text-decoration: none;
    color: #5c5c5c;
}

.product-item-details .remove{
    cursor: pointer;
}

.minha-cesta .price, .cart-item .quantity, .cart-item .total {
    width: 15%;
    padding-left: 0;
    text-align: right;
    font-size: 14px;
}

.minha-cesta input{
    border: 1px solid #12C7FF;
    color: #0258D3;
    padding: 10px 12px;
    border-radius: 2px;
    background: #fff;
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    text-align: center;
    line-height: 0;
}

.mais-info{
    background: transparent;
    color: #5c5c5c;
    /* border: 1px solid #39B0DF !important; */
    box-shadow: 0 0 10px #ddd;
    border-radius: 10px;
    padding-bottom: 20px;
}

.mais-info .table-desc{
    padding: 30px 0;
    margin-bottom: 20px;
}

.mais-info .table-desc h6{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.mais-info table th, .mais-info table td {
    padding: 0px 30px;
    line-height: 40px;
    border: 0;
}

.mais-info table th{
    padding: 20px 30px;
}

.td-endereco img{
    height: 20px;
    width: auto;
    margin-right: 10px;
}

.td-endereco{
    line-height: 25px !important;
}

.mais-info button{
    background: #82C341;
    color: #FFF;
    width: 100%;
    margin-top: 20px;
}
/* Página Contato */

#main-about h1{
    color: #12C7FF;
    font-size: 3.5rem;
    margin: 50px 0;
}

.main-about_msg{
    margin: 0 auto;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 420px){
    body{
        overflow: auto;
    }
    
    .navbar{
        background: url('../img/mobile_header.svg');
        background-size: cover;
        background-position: center;
        height: 250px;
        width: 100%;
    }

    #page-area .navbar, #page-fora_area .navbar{
        background: none;
    }

    .menu-toggler{
        display: block;
        margin-top: -20px;
    }

    .logo{
         margin-top: -60px;
    }

    #main{
        background: #FFF;
        margin-top: 0;
    }

    .navbar form{
        display: none;
    }

    .navbar form input{
        margin: 0 5px;
        outline: 0;
        box-shadow: none;
    }

    .navbar ul{
        display: none;
    }

    .cesta-menu{
        position: absolute;
        top: 52px;
        right: 30px;
    }

    .subnav{
        background: transparent;
        margin-top: 0;
    }

    footer{
        background: url('../img/mobile_footer.svg');
        background-size: cover;
        background-position: center;
        height: 290px;
        width: 100%;
        position: relative;
        margin-top: 120px;
    }

    footer img{
        height: 150px;
        width: auto;
        position: absolute;
        bottom: 220px;
        left: 50%;
        transform: translateX(-50%);
    }

    footer h6{
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        color: #FFF;
        font-size: 1.6rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .pack-item{
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin: 5px;
        z-index: 999;
        font-size: .8rem;
    }

    .pack-item:nth-child(1), .pack-item:nth-child(3){
        margin-top: -120px;
    }
    .pack-item:nth-child(2){
        margin-top: -170px;
    }

    .pack-item img{
        height: 38px;
    }

    #main{
        border-radius: 150px 150px 0 0;
    }

    .sec-banner{
        padding-bottom: 30px;
    }

    #avulso .sec-banner{
        margin-top: 30px;
    }

    .plano-opt{
        margin-bottom: 15px;
    }

    .badge-price{
        height: 150px;
        width: 150px;
    }

    .badge-price h2{
        font-size: 1.4rem;
    }

    .badge-price h1{
        font-size: 2.3rem;
    }

    textarea{
        margin-top: 8px;
    }

    #btn-send{
        margin-top: 18px !important;
        border: 1px solid #202E9144;
    }

    #logo-bottom{
        margin-top: 30px;
    }

    #main-avulsos .round-logo, #main-about .round-logo{
        margin-top: -150px;
        margin-bottom: 100px;
    }

    .main-about_msg{
        margin-top: -70px;
    }

    .main-about_msg h1{
        font-size: 2.3rem !important;
    }

    .locArea_content{
        margin: 0 auto;
        width: calc(100% - 60px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .locArea h1{
        font-size: 1.7rem;
    }

    .round-logo{
        height: 150px;
        width: 150px;
        margin: 30px auto;
        border-radius: 50%;
        position: relative;
    }

    .round-logo img{
        height: 100px;
        width: auto;
    }
}

@media only screen and (min-width: 420px) and (max-width: 1000px){
    .navbar{
        background: url('../img/mobile_header.svg');
        background-size: cover;
        background-position: center;
        height: 290px;
        width: 100%;
    }

    #page-area .navbar{
        background: transparent;
    }

    .menu-toggler{
        display: block;
        margin-top: 0;
    }

    .menu-toggler button i{
        font-size: 60px;
    }

    .cesta-menu{
        position: absolute;
        top: 82px;
        right: 30px;
    }

    footer{
        background: url('../img/mobile_footer.svg');
        background-size: cover;
        background-position: center;
        height: 290px;
        width: 100%;
        position: relative;
        margin-top: 170px;
    }

    footer img{
        height: 150px;
        width: auto;
        position: absolute;
        bottom: 250px;
        left: 50%;
        transform: translateX(-50%);
    }

    footer h6{
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        color: #FFF;
        font-size: 1.6rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .logo{
         margin-top: 0px;
    }

    #main{
        background: #FFF;
        margin-top: 0;
        border-radius: 150px 150px 0 0;
    }

    .navbar form{
        display: none;
    }

    .navbar form input{
        margin: 0 5px;
    }

    .navbar ul{
        display: none;
    }

    .subnav{
        background: transparent;
        margin-top: 0;
    }

    .pack-item{
        height: 140px;
        width: 140px;
        border-radius: 70px;
        margin: 15px;
        z-index: 999;
        font-size: 1rem;
    }

    .pack-item:nth-child(1), .pack-item:nth-child(3){
        margin-top: -120px;
    }
    .pack-item:nth-child(2){
        margin-top: -200px;
    }

    .pack-item img{
        height: 58px;
    }

    .sec-banner{
        padding-bottom: 30px;
    }

    #avulso .sec-banner{
        margin-top: 30px;
    }

    .plano-opt{
        margin-bottom: 15px;
    }

    .badge-price{
        height: 150px;
        width: 150px;
    }

    .badge-price h2{
        font-size: 1.4rem;
    }

    .badge-price h1{
        font-size: 2.3rem;
    }

    #main-about{
        margin-top: -220px;
    }

    textarea{
        margin-top: 8px;
    }

    #btn-send{
        margin-top: 18px !important;
        border: 1px solid #202E9144;
    }
 
    .locArea_content{
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .locArea h1{
        font-size: 1.7rem;
    }

    .round-logo{
        height: 150px;
        width: 150px;
        margin: 30px auto;
        border-radius: 50%;
        position: relative;
    }

    .round-logo img{
        height: 100px;
        width: auto;
    }

    #main-avulsos .round-logo, #main-about .round-logo{
        margin-top: -150px;
        margin-bottom: 100px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px){
    .navbar ul{
        display: none;
    }

    .form-menu{
        margin-left: 479px;
    }

    .menu-toggler{
        display: block;
        margin-top: 0;
    }

    .cesta-menu{
        position: absolute;
        top: 52px;
        right: 30px;
    }
}

@media only screen and (min-height: 700px){
    .menu-mobile_nav{
        margin-top: 50px;
    }
    .menu-mobile_login{
        margin-top: 50px;
    }
}